@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<style>
    .rounded-circle {
        border-radius: 100px;
        max-height: 200px;
        max-width: 200px;
    }
</style>


<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-8 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/1.jpg" alt="">
        <h3>
            Ofer Nitka-Nakash
            <small>Team Leader</small>
        </h3>
        <p>Concordia University student in the Software Engineering Co-op program with an interest in various fields.</p>
    </div>
    <div class="col-lg-4 col-sm-8 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/2.jpg" alt="">
        <h3>
            Mike Salib
            <small>Dispute Manager</small>
        </h3>
        <p>A full time Software Engineering student at Concordia University, for more information <a href="http://www.MikeSalib.com">CLICK HERE</a></p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/3.jpg" alt="">
        <h3>
            Philip Kyres
            <small>Team Member</small>
        </h3>
        <p>I am currently enrolled in Software Engineering Co-op at Concordia University. Graduated from Dawson College with a Computer Science technical DEC.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/4.jpg" alt="">
        <h3>
            Rafik Ifrani
            <small>Team Member</small>
        </h3>
        <p>A Software Engineer student in Co-Op at Concordia. I have completed a technical degree in computer science at Dawson before university</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/5.jpg" alt="">
        <h3>
            Bradley Laguerre
            <small>Team Member</small>
        </h3>
        <p>A 3rd year Computer Engineering student at Concordia University. Graduated from Jean-de-Brebeuf in health sciences. Practice sports such as ice hockey and basketball and loves watching tv series.</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/6.jpg" alt="">
        <h3>
            Rosa Phung
            <small>Team Member</small>
        </h3>
        <p>Currently enrolled as a full time Software Engineer at Concordia University</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/7.jpg" alt="">
        <h3>
            Chris Dubuc-Pesetti
            <small>Team Member</small>
        </h3>
        <p>I'm a full-time student in my 2nd year of Computer Engineering, graduated from John Abbott College with a degree in Applied Physics Technologies (career program). I'm a huge nerd who loves video games, books and anime</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle" src="~/images/avatar/8.jpg" alt="">
        <h3>
            Vatika Prasad
            <small>Team Member</small>
        </h3>
        <p>Currently a full time student in Software Engineering COOP/Industrial experience program. Looking for summer 2018 internship. I got my DEC from Vanier College in Pure and Applied Sciences. Interested particularly in Game development and Android Development</p>
    </div>
</div>
