@model IEnumerable<QAWebsite.Models.TaggingViewModel>

@{
    ViewData["Title"] = "Tags";
}

<h2>Tags</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags)
                </td>
            </tr>
        }
    </tbody>
</table>
