.userImage{
    margin-top: 10%;
    border-radius: 5%;
    width:70%;
}
#profileLeftContainer {
    height: 40%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    max-width:30%;
}
#profileRightContainer {
    height: 100%;
    display: inline-block;
    max-width:68%;
}
#aboutMeContainer {
    height: 40%;
    width: 80%;
    margin: 10%;
    word-wrap: break-word;
}
#accountInfo {
    margin: 10%;
}
#userReputation {
    margin: 10%;
}
#profileRecentQuestions {
    margin: 10%;
    width: 100%;
}
#googleMap {
    width: 100%;
    height: 500px;
    text-align: center;
    align-items: center;
}
#contactText {
    font-size: 17px;
}