.userImage{
    margin-top: 10%;
    border-radius: 5%;
    width:70%;
}
#profileLeftContainer {
    height: 40%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    max-width:30%;
}
#profileRightContainer {
    height: 100%;
    display: inline-block;
    max-width:68%;
}
#aboutMeContainer {
    height: 40%;
    width: 80%;
    margin: 10%;
    word-wrap: break-word;
}
#accountInfo {
    margin: 10%;
}
#userReputation {
    margin: 10%;
}
#profileRecentQuestions {
    margin: 10%;
    width: 100%;
}

.text-center {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.searchpad {
    background-color: #808080;
    background-image: url('../images/FrontPageBannerImage.jpg');
}

.homeTitle {
    color: white;
    font-size: 87px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navTitle {
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.homeHeading {
    padding-left: 8px;
}