body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
<<<<<<< HEAD
=======

.text-center {
    text-align: center;
    padding-top: 6%;
    padding-bottom: 6%;
}

.searchpad {
    background-color: #808080;
    background-image: url('../images/2560x1600-3053051-code_coding_programmer_programming.jpg');
}

#search {
    background-color: transparent;
    color: #FFF;
}

.homeTitle {
    color: white;
    font-size: 87px;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navTitle {
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.homeHeading {
    padding-left: 8px;
}

/* START SEARCH BAR CSS */
.search-bar {
    outline: none;
    margin-top: 0.5%;
    margin-left: 2%;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed no-repeat center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 20px;
    width: 50px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 20%;
    background-color: #fff;
    border-color: #3285cd;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.btn {
    border-radius: 0;
}

.btn-submit {
    padding: 9px 12px;
    margin-bottom: 2px;
    margin-left: -4px;
    background-color: #3285cd;
    color: white;
}
/* END SEARCH BAR CSS */

.btn-link {
    margin-top: 12.5px;
}
>>>>>>> cc0cb82... Issue #52: Suspend account implemented
